SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=cornustokaj@gmail.com
SMTP_PASS=khfjieoxmjvmomfx
SMTP_FROM_NAME=Cornus
BOOKING_NOTIFICATION_EMAIL=szilistvanka@gmail.com
BANK_NAME=CORNUS Apartman
BANK_ACCOUNT_HOLDER=Horváth-Katona Fruzsina
BANK_ACCOUNT_NUMBER=11732030-70001086
BANK_IBAN=HU17 1173 2030 7000 1086 0000 0000
BANK_SWIFT=OTPHHUHB
