SUPABASE_PROJECT_ID="pusdutohgpxshzldgdmm"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_c0HvEJA_dfpwyIdDPYuMSA_VIufnD18"
SUPABASE_URL="https://pusdutohgpxshzldgdmm.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1c2R1dG9oZ3B4c2h6bGRnZG1tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjM1NTkwMiwiZXhwIjoyMTAxOTMxOTAyfQ.UPll3HRkWBTka9ST5bfZ4rNg7U7nsdaHzie9dtCAHb8"
VITE_SUPABASE_PROJECT_ID="pusdutohgpxshzldgdmm"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_c0HvEJA_dfpwyIdDPYuMSA_VIufnD18"
VITE_SUPABASE_URL="https://pusdutohgpxshzldgdmm.supabase.co"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=cornustokaj@gmail.com
SMTP_PASS=khfjieoxmjvmomfx
SMTP_FROM_NAME=Cornus
BOOKING_NOTIFICATION_EMAIL=szilistvanka@gmail.com
BANK_NAME=OTP Bank
BANK_ACCOUNT_HOLDER=Katona Fruzsina
BANK_ACCOUNT_NUMBER=11773384-01987919
BANK_IBAN=HU62117733840198791900000000
BANK_SWIFT=OTPVHUHB